<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PatternHouse WebUI</title>
    <link rel="stylesheet" href="../patternhouse-webui/css/portal_disp.css">
    <link rel="stylesheet" href="../patternhouse-webui/css/header.css">
    <link rel="stylesheet" href="../patternhouse-webui/css/footer.css">
    <link rel="stylesheet" href="../patternhouse-webui/css/style.css">

    <script
    src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
    <script src="../patternhouse-webui/js/portal.js"></script>
</head>

<header id="top">
    <div class="container">
        <div class="left">
            <div class="logo">PatternHouse Database</div>
        </div>
        <div class="right">
            <a href="https://patternhouse.openaod.org/portal/"><div>PatternHouse DB</div></a>
            <a href="https://patternhouse.openaod.org"><div>PatternHouse Website</div></a>
            <a href="https://openaod.org"><div>openAOD</div></a>
            <a href="https://openaod.org/about"><div>About</div></a>
        </div>
        <div class="right-mobile">
            <div class="img"><img src="../img/hamburger.svg" alt="left_arrow"/></div>
        </div>
    </div>
</header>

<div class="portal-container">
    
    <div class="head">
        <div class="heading">PatternHouse Portal WebUI</div>
        <div class="label-holder">
            <div class="text">Select Pattern Type(s): </div>
            $(FIRE_PN_RPTT)  <button id="tbutton-$(FIRE_PNNAME)" class="label-active" onclick="togglep_$(FIRE_PNNAME)()">$(FIRE_PNNAME)</button>
        </div>
    </div>

    
    <div class="dash hide-temp" id="dash">
        $(FIRE_CARDTS)
        <div class="card $(FIRE_PNT)">
            <div class="heading">
                <div class="title">$(FIRE_GNPN)</div>
            </div>
            <div class="img">
                <div><img src="$(FIRE_IMG_LINK)" alt="$(FIRE_GNPN)" loading="lazy"/></div>
            </div>
            <div class="labels">
                Type: 
                <div class="label-holder">
                    <div class="label-active">$(FIRE_PNT)</div>
                </div>
                Languages:
                <div class="label-holder">
                    $(FIRE_LN_RPTT)  <button class="label$(FIRE_LNS)">$(FIRE_LNNAME)</button>
                </div>
            </div>
            <a href="$(FIRE_CODE_LINK)" target="_blank" rel="noopener noreferrer">
                <div class="link">
                    <div class="text">Open Code Display</div>
                </div>
            </a>
        </div>
        $(FIRE_CARDTE)
        $(FIRE_DASH_RPT)
    </div>

    <div class="eofdisp">
        <div class="inbox" id="temp">
            <div class="text">Loading ...</div>
        </div>
        <div class="inbox" id="temp2" style="display: none;">
            <div class="text">You have reached the end of the search results.</div>
            <div class="text">Try changing the filters for more results.</div>
        </div>
    </div>

</div>

<footer>
    <div class="container">
        <div class="left">
            <div class="heading">PatternHouse Database</div>
            <div class="description">Copyright &copy 2023, openAOD</div>
        </div>
        <div class="right">
            <a href="https://vercel.com/?utm_source=openaod"><div class="sponsor-note">Powered by Vercel</div></a>
        </div>
    </div>
</footer>

</html>
